body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: purple;
   
}

div{
    padding:10px
    
} 

 .content{
    padding-left: 5%;
    padding-right: 5%;
} 


header {
    
    background-color: purple;
    height: 15vh;
    color: white;
    display: flex;
    
}

#profile{
    padding-left: 40px;
    width: 50%;
    height: 100%;    


}
#skillsListDiv{
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: space-between;
}

#recommendationsListDiv{
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: space-between;
}

#projectsListDiv{
       color: black;
    /* justify-content: space-between; */
}

.skillBox{
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Increased shadow intensity */
  border: 1px solid #ddd; /* Light gray border */
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
      
}

.recommendationBox{
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Increased shadow intensity */
    border: 1px solid #ddd; /* Light gray border */
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
        
  }

#addRecommendation{
    text-align: center;
    color: black;
}

.skillIcon{
    width: 75px;
   
}

.shortDivider{
    width: 75%;
}

.textInput{
    width: 40%;
    font-size: large;
}


footer{
    text-align: end;
}
.homeIcon{
    width: 75px;
}

.btn {
    background-color: white;
    color: purple  ;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    
  }

  .btn:hover {
    background-color: purple;
    color: white;
  }



/* ------------------------------------------------------------------------- */
/* Popup Styling */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
    visibility: hidden; /* Hidden by default */
    opacity: 0; /* Start transparent */
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  /* Styling for the popup message */
  .popup {
    background: #E8BDF0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Elevated shadow */
    text-align: center;
    width: 300px;
  }

  /* Show the overlay */
  .overlay.show {
    visibility: visible;
    opacity: 1;
  }





